*{
  padding: 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  /* align-items: center;
  justify-content: center;
  display: flex; */
  background-image: url("20230805_155852.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: top;
}
.c-inp{
  width: 100%;
  height: 60px;
  background: #C54881;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  z-index: 1000;
}
.c-inp .button{
  width: 40px;
  height: 40px;
  background: greenyellow;
  border-radius: 6px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-size: 30px;
  color: #444;
}
.c-inp .button.active{
  background: #258092;
}
.c-inp input{
  height: 40px;
  width: 75%;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  outline: none;
  font-size: 18px;
  z-index: 1000;
  font-weight: 500;
}
::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background: red;
}
.box{
  width: 100%;
  height: calc(100vh - 60px);
  background: rgba(0, 0, 0, .4);
  z-index: -1;
  overflow: scroll;
  backdrop-filter: blur(5px);
  
}
.box.active{
  
}
.box main{
  padding: 10px 20px;
  background: #C54881;
  font-size: 19px;
  bottom: 0;
  margin: 15px;
  right: 10px;
  font-weight: 700;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #fff;
  text-shadow: 1px 0 1px #000;
}
.box main .dat{
  font-size: 10px;
  right: 10px;
  bottom: 0;
  color: #000;
}
html{
  scroll-behavior: smooth;
}
